<div class="admin-title">
    <h2><%= locals.title %></h2>
    <a href="/add" class="button">+ 새게시물</a>
</div>

<ul class="admin-posts">
    <% data.forEach( post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <%= post.title %>
            </a>
            <div class="admin-post-controls">
                <a href="/edit/<%= post._id %>" class="btn">수정</a>
                <form action="/delete/<%= post._id %>?_method=delete" method="post">
                    <button type="submit" class="btn-delete btn">삭제</button>
                </form>
            </div>
        </li>
        <% }) %>
</ul>